    .aboutMeLayout {
        width: 90%;
        /* height: 40rem; */
        min-height: 75vh;
        border-radius: 5px;
        box-shadow: .1rem .5rem .5rem rgba(0, 0, 0, 0.4);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 6fr 1fr;
        grid-template-areas: "pic text" "contant contant";
        /* grid-gap: 5% 5%; */
        margin: 5%;
        justify-items: center;
        align-items: center;
        /* background-image: linear-gradient(to bottom right, #FFC914, #2E282A) */
        background-color: #eee;
    }
    
    .picProfile {
        grid-area: pic;
        height: 70%;
        animation: moveInBottom 0.5s ease-out .5s;
        animation-fill-mode: backwards;
        /* margin-left: 10%; */
        /* padding: 0 10%; */
        /* margin: 15% 0; */
        box-shadow: .1rem .5rem .5rem rgba(0, 0, 0, 0.4);
        border-radius: 5%;
    }
    
    .aboutMeText {
        align-self: flex-start;
        justify-self: start;
        grid-area: text;
    }
    
    .aboutMeTextData {
        margin-top: 30%;
    }
    
    .aboutMeTextHello {
        display: inline-block;
        background-color: #FFC914;
        animation: moveInLeft 0.5s ease-out .5s;
        animation-fill-mode: backwards;
        padding: .5rem 2rem;
        font-size: 1rem;
        box-shadow: .1rem .5rem .5rem rgba(0, 0, 0, 0.1);
    }
    
    .aboutMeTextInfo {
        animation: moveInRight 0.5s ease-out .5s;
        animation-fill-mode: backwards;
        margin-top: 3rem;
        font-size: 1.5rem;
    }
    
    .aboutMeTextInfo span {
        font-size: 2rem;
        font-weight: bold;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    
    .aboutMeTextInfo hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    
    .aboutMeContant {
        grid-area: contant;
        width: 100%;
        height: 100%;
        /* background-image: linear-gradient(to bottom, #17BEBB, #094644); */
        background-color: #148188;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .aboutMeContant a {
        text-decoration: none;
        background-color: #55AFB0;
        color: #F3EEDA;
        padding: 0.7rem 1.5rem;
        display: inline-block;
        display: inline-block;
        border-radius: 50rem;
        transition: all .2s;
        position: relative;
        animation: moveInBottom 0.5s ease-out .75s;
        animation-fill-mode: backwards;
    }
    
    .aboutMeContant a:hover {
        transform: translateY(-0.1rem);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .aboutMeContant a:active {
        background-color: #37A96B;
        transform: translateY(-0.05rem);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }