.barLayout {
    display: flex;
    animation: moveInTop 0.5s ease-out .5s;
    animation-fill-mode: backwards;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5%;
    padding-top: 3%;
}

.barLayout p {
    color: #eee;
    font-size: 2rem;
}

.flow {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #17BEBB, #2E282A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #17BEBB, #2E282A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}