.mainBG {
    height: 50vh;
    /* display: inline-block; */
    width: 100%;
    background-position: center;
    background-size: cover;
    animation: moveInTop 0.5s ease-out .2s;
    animation-fill-mode: backwards;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.80)), url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
}

.comingSoon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40rem;
    background-image: linear-gradient(#2B2D35, #2B2D35);
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}

.comingSoon p {
    font-size: 5rem;
    color: whitesmoke;
}