@media( max-width:1060px) {
    .aboutMeLayout {
        /* height: 150%; */
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-areas: "pic" "text" "contant";
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .barLayout {
        text-align: center;
        display: grid;
        /* align-items: center; */
        grid-template-columns: 1fr;
    }
    .linkBar {
        width: 100%;
        height: 10vh;
        justify-content: space-around;
    }
    .linkBar a {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .barLayout p {
        color: #eee;
        font-size: 1rem;
    }
    .aboutMeText {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .aboutMeTextData {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 80%;
        text-align: center;
    }
    .goTop {
        left: 70vw;
    }
    .btnColorBar {
        height: 80%;
        font-size: .5rem;
    }
    .comingSoon p {
        font-size: 3rem;
    }
}